*{box-sizing: border-box;
margin: 0 auto;
}



img {width: 100px;
height: 100;
margin: 0 0 5px;
}

header{ position: fixed;
        width: 100%;
        z-index: 10;
        background-color: #F3E5F5;
        padding: 10px 5px;
        border-bottom: #F3E5F5 solid 5px;
        
        ;
    
     }

    

.section1{  position: relative;
            top:110px;
    }



.contact p{  min-width: 20px;
    max-width: 200px;
     min-height: 20px;
     max-height: 400px;
     margin: 20px 70px 30px ;
     display:inline-table;
            text-align: center;}
    
.contacts strong{ font-family: georgia;
                   font-weight: 1000;
                font-size: larger;}

.contactheader{ margin: 100px 0 30px;
background-image: url("about2.jpg");
background-size: cover;
padding-bottom: 90px;
padding-top: 40px;

;}

p{ margin: 0 40px;}


.productheader{ margin-bottom: 30px;
background-image: url("about3.jpg");
background-size: cover;
padding-bottom: 70px;
padding-top: 90px;}

.aboutheader{
             margin-bottom:  40px;
              background-image: url("about1.jpg");
            background-size: cover;
            background-position: center;
            padding-bottom:  40px;
            padding-top: 80px;
            }

#headername{ font-size: 30px;
             font-family:Arial,;

             
            }

.headersubject{ font-size:60px ;
    font-family: Georgia;
    margin-bottom: 10px;}

.section2{ margin-top: 200px;}

.po

.do{ text-align:justify;
 ; 
   ;
}

.do a { font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       border: 1px solid purple;
    padding: 5px 10px ;
    margin: 5px;
    border-radius: 10px;
    color: purple;
    text-decoration:none;
}

.do a:hover{ background-color: palevioletred;}

.valuegroup p{ min-width: 20px;
           max-width: 200px;
            min-height: 20px;
        max-height: 500px;
        margin:0 100px ;
        ;
    
       display:inline-table;
    text-align: center;}

.valuepage{ margin-top: 40px;}

.header3{ text-align: center;
           font-size:40px;
          font-family: georgia;
          font-weight: 2000;
          margin: 0 300px 20px;
        }

 #sep{ font-weight:1;
font-style:italic;
}
.proud{ text-align: center;
        font-weight: bold;
    opacity: 0.4;
      font-size:large;}

.poundo{ min-width: 50px;
         max-width: 200px;
         min-height: 100px;
        max-height: 700px;
        display:inline-block;
        margin: 0 20px;
         }



.poundo-group{ margin-top: 80px;
               margin-left: 400px;
    }

.yam{  min-width: 50px;
    max-width: 200px;
    min-height: 100px;
   max-height: 700px;
   display:inline-block;
   margin: 0 20px;
    }

.yam-group{ margin-top: 80px;
        margin-left: 400px;}


.potato{  min-width: 50px;
    max-width: 200px;
    min-height: 100px;
   max-height: 700px;
   display:inline-block;
   margin: 0 20px;
    }

.potato-group{ margin-top: 80px;
        margin-left: 400px;}

.product{ font-family: georgia;
        font-size: larger;
         font-weight: 1000;}

footer{ margin: 60px 0px;}

.footer1{ background-color: black;
           color: rgb(231, 202, 231);
        text-align: center;
        padding: 50px 30px;}

.footer1 p{ width: 500px;
margin: 30px auto 0px;}

.footer1 h3 span{ font-weight:100;}

.footer1 h3 { font-size: 3.5rem;
             font-weight: 900;
            font-family: Georgia, sans-serif;}


.info { width: 800px;
        margin: 0 auto;
        padding: 40px;
     border-radius: 15px;
    display: flex;
    justify-content: space-between;
    transition: all 0.3s;
    }
.textfield{ position: relative;
         width: 48%;
        }


.textfield input{ background-color: black;
             width: 350px;
             height:25px ;
             padding: 5px;
             border: 1px solid snow;
             font-size: 10px;
             transition: all 0.3s ;
             transform-origin: 0.0;

            color: rgb(231, 202, 231);
            border-radius: 20px ;
            
             }

.textfield input::placeholder{ color:transparent;}

.textfield label {position: absolute;
            left: 1px;
            top:-1px;
             transform: translateY(-5%);
              pointer-events: none;
              color: rgb(231, 202, 231);
              transition: all 0.3s;
              transform-origin: 0.0;
  
              padding: 5px;
                opacity: 0.2;
                }

.textfield input:focus{  outline: 0;
                        border-width:2px;}

.textfield input:focus + label,
.textfield input:not(:placeholder-shown) + label{ margin-top: -19px;}

.form textarea{ background-color: black;
                 }

.send{padding: 5px 10px;
       font-weight: 300;
    font-size: 15px;
    border: 1px solid rgb(231, 202, 231)
    ;
;}

form [type=submit]:hover{ background-color:palevioletred ;}






.footer2{ width: 300;
          margin: 20px 0;
        margin-left: 10px;}




 /*||DISTRIBUTOR CSS SECTION||*/

.disheader{ box-sizing: border-box;
            width:100% ;
            height: 90px;
            background-image:url("dist4.jpg");
            background-size: cover;
            background-position:center;
            padding: 100px 0 350px;
            
            }

h2 { margin-left: 40px ;
     color: white;
     font-size:xx-large  ;
     ;}

h2 span { font-style: oblique;
        font-size: x-large;}

.dis-p{ width:500px;
       font-size: larger;
        }
P strong{ font-weight:200px ;
         color: white;}

p a{ text-decoration-line:underline;
      color: white;}

p a:hover{ color: rgb(249, 175, 249);}












     



  

